<div class="stopwatch-container">
  <div class="stopwatch-display">
    <app-clock [time]="time" [playState]="playState" [containerClass]="'display'"></app-clock>
  </div>
  <div class="stopwatch-buttons">
    <button (click)="togglePlay()" class="btn play">
      <span *ngIf="playState"><fa-icon [icon]="faStop"></fa-icon> Stop</span>
      <span *ngIf="!playState"><fa-icon [icon]="faPlay"></fa-icon> Play</span>
    </button>
    <button (click)="addToHistory()" class="btn"><fa-icon [icon]="faStopwatch"></fa-icon></button>
    <button (click)="resetTimer()" class="btn"><fa-icon [icon]="faTrash"></fa-icon></button>
  </div>
  <ul class="history-list">
    <li *ngFor="let item of history">
      <app-clock class="clock" [time]="item"></app-clock> <button class="button-remove" (click)="removeFromHistory(item)">remove</button>
    </li>
  </ul>
</div>


